[Unit]
Description=An integrated solution to manage sounds and external devices of room-escapes
After=network.target

[Service]
ExecStart=xvfb-run -a /opt/sonosphere/sonosphere --headless
LimitNICE=-10
Nice=-1
User=$USER
Restart=always
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/$USER/1000
Environment=PULSE_SERVER=unix:path=/run/$USER/1000/pulse/native
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/$USER/1000/bus"


[Install]
WantedBy=multi-user.target
